img
{
    height:300px;
    width:300px;
}
body
{
    background: linear-gradient(to right, #800000 36%, #ff0000 100%);
}
.text1
{
    color: white;
}
.first
{
    height:300px;
    width:200px;
}
.second
{
    font-family: cursive;
   text-align: center;
    color:white;
}